@{
    ViewData["Title"] = "Home - MovieZone";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-3 fw-bold text-primary">🎬 Welcome to MovieZone</h1>
        <p class="lead">Discover, Rate & Share your favorite movies!</p>
        <hr class="my-4" />
        <a href="/Movies/Index" class="btn btn-lg btn-primary me-2">
            Browse Movies
        </a>
        <a href="/Movies/Create" class="btn btn-lg btn-outline-secondary">
            Add New Movie
        </a>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/857/857681.png" alt="Browse" class="img-fluid mb-3" style="height:100px;" />
            <h4>Explore Top Rated</h4>
            <p>Browse through a collection of top-rated, trending, and classic movies.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png" alt="Rate" class="img-fluid mb-3" style="height:100px;" />
            <h4>Rate & Review</h4>
            <p>Share your opinions, write reviews and rate movies you've watched.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="Share" class="img-fluid mb-3" style="height:100px;" />
            <h4>Connect & Share</h4>
            <p>Build your watchlist and share it with friends and family.</p>
        </div>
    </div>
</div>
